.benefits-container {
  text-align: center;
}

.benefits-container .benefits-context p {
  font-family: "Inconsolata", monospace;
  margin: 2em 0;
}

.benefits-container .benefits-context h3 {
  color: #ff7c6e;
  font-size: 2em;
}

.benefits-container .benefits-content {
  display: flex;
  justify-content: center;
}